{% extends 'base2.html.twig' %}

{% block contenu %}
    <h1> des sponsors</h1>

    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Nouveau Sponsor <small>ajouter un sponsor</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>

                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content" style="display: block;">

                    <br>
                    {{ form_start(edit_form,{'attr':{'class': 'form-horizontal form-label-left','id': 'demo-form2'}}) }}
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">{{ form_label(edit_form.nom) }} <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <div>{{ form_widget(edit_form.nom,{'attr':{'class': 'form-control','id': 'middle-name'}}) }}</div>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">{{ form_label(edit_form.sponsorphoto) }} <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <div>{{ form_widget(edit_form.sponsorphoto,{'attr':{'class': 'form-control','id': 'middle-name'}}) }}</div>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align">{{ form_label(edit_form.description) }} <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <div>{{ form_widget(edit_form.description,{'attr':{'class': 'form-control','id': 'middle-name'}}) }}</div>
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="item form-group">
                        <div class="col-md-6 col-sm-6 offset-md-3">
                            <input type="submit" class="btn btn-success" value="Edit" id="myId"/>
                        </div>
                    </div>
                    {{ form_end(edit_form) }}
                </div>
            </div>
        </div>
    </div>



    <i class="fa fa-reply"></i> <a href="{{ path('sponsor_index') }}"> <button class="btn btn-success" > Back to the list</button></a> <i class="fa fa-reply"></i>

<script>
document.getElementById("myId").onclick=function(){
    alert("your sponsor was been updated !!!!");

};

</script>
{% endblock %}