{% extends 'base2.html.twig' %}
{% block contenu %}
   {#<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDN5fgVQFgIaslelNHPL30-1wuwH71fvm0"
            type="text/javascript"></script>#}
    <div id="map"></div>


<h1>Ajouter un Transport</h1>



{{ form_start(f) }}
<table class="table table-striped jambo_table bulk_action">
    <tr>
        <td class="btn btn-secondary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default" >Moyen</td>
        <td>{{ form_widget(f.moyen) }}</td>
    </tr>
    <tr>
        <td class="btn btn-secondary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">destination</td>
        <td>{{ form_widget(f.destination) }}</td>
    </tr>
    <tr>
        <td class="btn btn-secondary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">x</td>
        <td>{{ form_widget(f.x) }}</td>
    </tr>
    <tr>
        <td class="btn btn-secondary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">nb</td>
        <td>{{ form_widget(f.nb) }}</td>
    </tr>
    <tr>
        <td class="btn btn-secondary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">y</td>
        <td>{{ form_widget(f.y) }}</td>
    </tr>
    <tr>
        <td class="btn btn-secondary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">date</td>
        <td>{{ form_widget(f.date) }}</td>
    </tr>
    <tr>
        <td class="btn btn-secondary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">matricule</td>
        <td>{{ form_widget(f.matricule) }}</td>
    </tr>



    <tr >
        <td>{{ form_widget(f.Ajouter) }}</td>
    </tr>
    <script>
        // Note: This example requires that you consent to location sharing when
        // prompted by your browser. If you see the error "The Geolocation service
        // failed.", it means you probably did not give permission for the browser to
        // locate you.
        var map, infoWindow;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: -34.397, lng: 150.644},
                zoom: 6
            });
            infoWindow = new google.maps.InfoWindow;

            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    infoWindow.setPosition(pos);
                    infoWindow.setContent('Location found.');
                    infoWindow.open(map);
                    map.setCenter(pos);
                }, function() {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                'Error: The Geolocation service failed.' :
                'Error: Your browser doesn\'t support geolocation.');
            infoWindow.open(map);
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCMe0cxcEsipBd4f2VfTZIAlUKeTYj-xo&callback=initMap">
    </script>
   {# <script>
        function initMap() {
            var paris = {lat: 48.829694, lng: 2.354199};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: paris
            });

            var marker = new google.maps.Marker({
                position: paris,
                map: map
            });
        }
    </script>#}
</table>
{% endblock %}