{% extends 'base.html.twig' %}

{% block contenu %}
    <br><br><br><br>
   <center> <h1>Rating</h1></center>



    {{ form_start(f) }}
    <table class="table table-striped jambo_table bulk_action">
        <tr>
            <td>Moyen</td>
            <td>{{ form_widget(f.moyen) }}</td>
        </tr>
        <tr>
            <td>destination</td>
            <td>{{ form_widget(f.destination) }}</td>
        </tr>
        <tr>
            <td>date</td>
            <td>{{ form_widget(f.date) }}</td>
        </tr>
        <tr>
            <td>matricule</td>
            <td>{{ form_widget(f.matricule) }}</td>
        </tr>
        <tr>
            <td>rating</td>
            <td>{{ form_widget(f.rating) }}</td>
        </tr>


        <tr>
            <td>{{ form_widget(f.Ajouter) }}</td>
        </tr>
    </table>
{% endblock %}